ipykernel==6.29.5
openai==1.98.0
python-dotenv==1.1.0
streamlit==1.47.1
langchain-chroma==0.2.5
langchainhub==0.1.21
langchain==0.3.27
langchain-community==0.3.27
langchain-openai==0.3.28
langgraph==0.6.5
langgraph-checkpoint-sqlite==2.0.10
ragas==0.3.0
datasets==4.0.0
